@use '../abstracts/variables' as vrb;
@use '../abstracts/mixing' as mix;


// CALL TO ACTION 

#callToAction {
    .btn:last-child{
        background-color: vrb.$color-black;
        color: white;
    }

    .btn{
        background-color: vrb.$color-success;
        color: white;
    }
}
