@use '../abstracts/variables' as vrb;
@use '../abstracts/mixing' as mix;


#propertyList {
    .nav-item > .active {
        background-color: vrb.$color-success;
        border: none;
    }
    .nav-item > .btn {
        border-color: vrb.$color-success
    }
    .text-white {
        background-color: vrb.$color-success;
    }
    // For Sell 
    .bg-control {
        background-color: vrb.$color-success;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        margin: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 5px;
    }
    // Appartment 
    .bg-white {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        padding-top: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .bg-white, h5, p > i {
        color: vrb.$color-success;
    }
    
    h5 {
        font-weight: bolder;
        font-size: 20px;
    }
    a {
        color: vrb.$color-black;
        font-weight: bolder;
        font-size: 20px;
    }

    small {
        color: vrb.$color-gray;
    }
    img.icon{
        width: 20px;
    }
}
