@use '../abstracts/variables' as vrb;

#team {
    .team-item-control {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        
        // position-absolute start-50 top-100 translate-middle d-flex aliggn-items-center
    }

    i {
        background-color: white;
        color: vrb.$color-success;
        border-radius: 50px;
        box-shadow: 0 0 30px rgb(0 0 0 / 15%);
        padding: 12px;
    }

    h5 {
        color: vrb.$color-black;
    }
    small {
        color: vrb.$color-gray
    }
    @media (min-width: 992px) {
        p {
            margin-left: 200px;
            margin-right: 200px;
        }
    }
}

