// COLORS
$color-success: #00B98E;
// $color-success: rgb(122, 228, 203);
$color-black: #0E2E50;
$color-gray: #666565;
$color-white: #FFFFFF;
$color-white-link: #FFFFFF80;

// FONT SIZE => PX 
$fs-4: 4px;
$fs-6: 6px;
$fs-8: 8px;
$fs-10: 10px;
$fs-14: 14px;
$fs-18: 18px;
$fs-22: 22px;
$fs-26: 26px;
$fs-30: 30px;
$fs-35: 35px;
$fs-40: 40px;
$fs-45: 45px;
$fs-50: 50px;
$fs-60: 60px;
$fs-70: 70px;
$fs-80: 80px;

// FONT FAMILY 
$font-family-inter: Inter, sans-serif;
$font-family-heebo: Heebo, sans-serif;

// BORDER
$border-dashed: 1px dashed $color-success;



